*.schedule.json
*.schedule.xml
*.pyc
/31C3
/32C3
/33C3
/asm16
/camp15
/jh16
/mm17
/ogtm16
/ogtm17
/csv2schedule_ogtm.py
/test
/tib3s
/34C3
/old
*.un~
/out.xml
/schedule-filtered.xcal
/schedule-old.xcal
/schedule.readable.json
/schedule.xcal
/.project
/.pydevproject
.pytest_cache
__pycache__
/.venv
/camp2019
/36C3
archive/*
.vscode
