name: Mirroring

on: 
  push:
    branches-ignore:
      - dependabot/*

jobs:
  to_git-c3voc-de:
    # only run on github, but not on our forgeio instance
    if: github.server_url == 'https://github.com' && github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
          fetch-depth: 0
    - uses: pixta-dev/repository-mirroring-action@v1
      with:
        target_repo_url: ssh://forgejo@forgejo.c3voc.de/voc/schedule.git
        ssh_username: forgejo
        ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
